.video-search-iframe{
    width: 100%;
    height: 40vh;
}

.video-search-card{
    background-color: inherit;
    text-shadow: none;
    width: 25rem;
    margin: 50px 50px;
    color: black;
    height: 40vh;

}
.video-search-card-body{
    color: white;
    height: 14vh;
    border: 2px solid peru;
    background: rgba(103,40,5, .8); 
}

@media only screen and (max-width: 768px) {

    .video-search-card{
        width: 80vw;
        margin:  20px auto;
    }
}
