.about-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . ."
    ". content content ."
    ". . .  .";
}
.about-content {
  grid-area: content;
  border-style: outset;
  border-color: peru;
  background-color: rgba(112, 122, 148, 0.8);
}
.about-title {
  grid-area: title;
  align-self: self-end;
}

@media only screen and (max-width: 768px) {
  .about-container {
    grid-template-areas:
      ". . . ."
      "content content content content"
      ". . .  .";
  }
}
