.owned-unread-container{
    border: 4px inset black;
    width: 46.8vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.owned-unread-book{
    height: 25vh;
    width: 1.8vw;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(165,60,15,1) 50%, rgba(2,0,36,1) 100%);
    writing-mode: tb-rl;
    border: 1px solid black;
    overflow: hidden;
    color: navajowhite;
    text-shadow: none;
    font-weight: bolder;
    border-radius: 10%;
    cursor: grab;
}
.book-text{
    margin-right: 5px;
    margin-bottom: 5px;
}
@media only screen and (max-width: 768px) {
    .owned-unread-container{
        width: 90vw;
    }
    .owned-unread-book{
        width: 7vw;
    }
}