img{
    width: 12rem;
    height: 20rem;
    border: .5px white solid;
    border-left: 0;
    box-shadow: 2px 2px black;
}
h3{
    margin: 10px;
}
.library-book-info-container{
    width: 17.5vw;
}

@media only screen and (max-width: 768px) {
    .library-book-info-container{
        width: 75vw;
    }
}