.owned-read-container{
    border: 1px solid black;
    background-color: brown;
    height: 10vw;
    width: 40vw;
    display: flex;
}
.owned-read-book{
    height: 100%;
    width: 1.5vw;
    background-color: blue;
    writing-mode: tb-rl;
    border: 1px solid black;
    overflow: hidden;
    margin: 0 1px;
    color: black;
}